@font-face {
    font-family: MyFont;
    src:  url('./font.ttf');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: MyFont;
    background: url('./webpack.png');
}